@media (max-width: 1340px) { 
  .connect-us {
    width: 175px;
    font-size: 14px;
  }   
  header {
    .header-top {
      padding: 18px 0;
    }
    .logo {
      margin-right: 20px;
      img {
        width: 154px;
      }
    }
    .header-nav {
      li {
        margin-right: 15px;
      }
    }
    .header-search {
      .search {
        width: 270px;
      }
    }
  }

  footer {
    .logo {
      margin-right: 40px;
      img {
        width: 154px;
      }
    }
    .footer-item {
      margin-right: 30px;
    }
  }

  main {
    .block3 {
      .block3-item{
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          width: 32%;
        }
        &:nth-child(3) {
          .block3-card {
            .card-img {
              width: 180px;
              top: 92px;
            }
          }
        }
      }
    }

    .block7 {
      .block7-box {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media (max-width: 1199px) {
  main {
    .block3 {
      padding-bottom: 129px;
      position: relative;
      .view-all {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
      }
      .title-base {
        font-size: 22px;
        line-height: 24px;
      }
      .block3-box {
        justify-content: center;
      }
      .block3-item{
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          width: 545px;
          .block3-card {
            height: 369px;
          }
        }
        &:nth-child(1) {
          .block3-card {
            .card-img {
              top: 83px;
              width: 142px;
            }
          }
        }
        &:nth-child(2) {
          .block3-card {
            &:first-child {
              .card-img {
                top: 122px;
                width: 108px;
              }
            }
            &:last-child {
              .card-img {
                top: 144px;
                width: 75px;
              }
            }
          }
        }
        &:nth-child(3) {
          .block3-card {
            .card-img {
              top: 71px;
              width: 128px;
            }
          }
        }
      }
    }

    .block4 {
      .container {
        padding-right: 0;
      }
    }

    .block5 {
      .title-text {
        width: 100%;
      }
      .block5-box {
        width: 100%;
        margin-top: 5px;
      }
      .block5-item {
        width: 32%;
        margin-top: 25px;
      }
    }

    .block6 {
      .title-text {
        width: 100%;
      }
      .block6-form {
        margin-top: 24px;
        width: 100%;
        .input-box {
          width: 49%;
        }
      }
    }

    .block4_results {
      .container {
        padding-right: 24px;
      }
      .results-box {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .block4_products {
      .container {
        padding-right: 24px;
      }
      .products-box {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .block9 {
      .block9-form {
       .check-box {
        width: 49%;
       }
       .social {
        width: 49%;
       }
       .text-box {
         width: 49%;
       }
       .form-btn {
        width: 49%;
       }
      }
    }
  }
}

@media (max-width: 1023px) {
  main {
    .block7 {
      .block7-box {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
      }
      .block7-card:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;
      }
    }
    .block7_l {
      .block7-card:last-child {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
      }
    }
  }
  .popUp-form {
    .popUp-content {
      max-width: 97%;
    }
  }
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
    line-height: 18px;
  }
  .title-suptext {
    font-size: 24px;
    line-height: 26px;
  }
  .title-text {
    font-size: 24px;
    line-height: 26px;
  }


  .title-base {
    font-size: 24px;
    line-height: 26px;
  }

  .head-page {
    margin: 80px 0 24px;
  }

  header {
    position: relative;
    margin-bottom: 55px;
    .header-top {
      position: static;
    }
    .header-nav {
      li {
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 30px;
        }
      }
    }
    .header-search {
      position: absolute;
      padding: 12px 24px;
      top: 100%;
      left: 0;
      width: 100%;
      .search {
        width: 100%;
        .search__inp {
          border: 1px solid #0000001A;
        }
      }
    }
    .header-menu {
      box-shadow: none;
      padding: 91px 0 40px;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right, #51b7cb, #3da8c9, #3299c5, #3289c0, #3d79b7);
      z-index: 99;
      display: none;
      .header-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        width: 100%;
        .header-item {
          padding: 20px;
          border-radius: 20px;
          background: #FFFFFF14;
          color: #fff;
         font-size: 10px;
          line-height: 11px;
        }
      }
      .connect-us {
        width: 198px;
        margin-top: 30px;
      }
    }
    .showMenu {
      display: block;
    }
  }


  main {
    .block1 {
      padding: 30px 0 12px;
      .block1-title {
        font-size: 28px;
        line-height: 31px;
      }
      .block1-text {
        font-size: 14px;
        line-height: 18px;
        width: 100%;
        margin-top: 20px;
      }
      .swiper-block1 {
       padding-top: 50px;
       margin-top: 0;
        .block1-item {
          padding: 25px 25px 65px 27px;
          border-radius: 30px;
          .item-title {
            font-size: 20px;
            line-height: 22px;
            width: 75%;
          }
          .item-text {
            font-size: 14px;
            line-height: 18px;
            margin-top: 12px;
            width: 80%;
          }
          .item-img {
            width: 299px;
          }
        }
        .swiper-btns {
          left: 27px;
          bottom: 27px;
        }
        .swiper-pagination-block1 {
          top: 27px;
          left: 27px;
        }
      }
    }



    .block4_results {
      .results-box {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .block4_products {
      padding: 0 0 12px;
      .filters {
        width: 100%;
        position: absolute;
        background: #F2F6F8;
        z-index: 10;
        top: -20px;
        left: 0;
        display: none;
      }
      .filters-head {
        .filters-btns {
          overflow-x: scroll;
        }
      }
      .head-info {
        margin-top: 22px;
      }
      .maxHeight,
      .filters-base {
        max-height: 300px;
        overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 7px;
            border-radius: 50px;
            background: #EAEAEA;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 50px;
            background: #495363;
          }
      }
    }

    .block8 {
      margin: 3px 0 36px;
      .block8-box {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
    }

    .block9 {
      margin: 81px 0 35px;
      .title-suptext {
        margin-bottom: 30px;
      }
      .title-text {
        margin-top: 35px;
      }
      .block9-link {
        font-size: 14px;
        line-height: 15px;
        &:first-child {
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
      .block9-form {
        margin-top: 24px;
       .input-box,
       .social {
        width: 100%;
       }
       .check-box {
        width: 100%;
       }
       .text-box {
         width: 100%;
         margin-top: 24px;
         .form__text {
          height: 175px;
         }
       }
       .form-btn {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
       }
      }
    }

    .card-page {
      .card-slider {
        width: 100%;
      }
      .card-info {
        width: 100%;
        margin-top: 20px;
      }
      .card-tabs {
        .tab-btns {
         overflow-x: scroll;
        }
      }
    }
  }

  footer {
    .logo {
      width: 100%;
      margin-right: 0;
    }
    .footer-box {
      width: 100%;
    }
    .footer-item {
      margin: 30px 0;
      width: 50%;
      &:nth-child(2) {
        padding-right: 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  main {
    .block2 {
      margin: 35px 0;
      .title-text {
        width: 100%;
        margin-bottom: 24px;
      }
      .info-box {
        width: 100%;
      }
      .info {
        width: 100%;
        &:last-child {
          width: 100%;
        }
      }
      .block2-img {
        margin-top: 24px;
      }
      .title-base {
        font-size: 16px;
        line-height: 17px;
      }
    }

    .block5 {
      padding: 50px 0 30px;
      .block5-item {
        width: 100%;
      }
    }
    
    .block4_results {
      .results-box {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .block7 {
      .block7-box {
        margin: 24px 0 28px;
      }
      .block7-card {
        height: 142px;
        padding: 14px 5px 14px 14px;
        font-size: 16px;
        line-height: 18px;
      }
    }

    .block2_comp {
      margin: 80px 0 30px;
      .item {
        margin-top: 30px;
        .title-base {
          margin-right: 0;
          font-size: 16px;
          line-height: 17px;
        }
        .item-text {
          font-size: 14px;
          line-height: 18px;
        }
        .item-box {
          font-size: 12px;
          line-height: 15px;
          padding: 15px 22px;
          margin-top: 12px;
        }
      }
    }

    .block8 {
      .block8-box {
        grid-template-columns: repeat(1, 1fr);
      }
      .block8-item {
        height: 292px;
        padding: 27px 22px;
        .item-title {
          font-size: 18px;
          line-height: 20px;
        }
        .item-text {
          font-size: 12px;
          line-height: 15px;
          margin-top: 16px;
        }
        .item-link {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  main {
    .block3 {
      padding-top: 30px;
      .block3-head {
        font-size: 12px;
        line-height: 13px;
      }
      .block3-card {
        background-image: url(../img/png/card-m.png);
        background-size: cover;
        .card-head {
          top: 0;
          img {
            margin-right: 5px;
          }
        }
      }
    }

    .block4 {
      .title-text {
        margin-bottom: 24px;
      }
      .swiper-slide {
        min-height: 254px;
      }
      .block4-card {
        padding: 15px 17px 11px;
        min-height: 254px;
        .card-img {
          width: 72px;
          height: 72px;
          margin-right: 20px;
        }
        .card-name {
          height: 36px;
          font-size: 16px;
          line-height: 17px;
          margin-top: 0;
        }
        .status {
          margin: 16px 0;
        }
        .card-info {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }

    .block6 {
      padding: 35px 0;
      .block6-form {
        justify-content: center !important;
        .input-box {
          width: 100%;
        }
        .check-box {
          width: 100%;
          margin-bottom: 24px;
        }
      }
    }

    .block4_results {
      padding: 24px 0 12px;
            .results-info {
        margin: 12px 0 24px;
        font-size: 14px;
        line-height: 15px;
      }
      .results-box {
        grid-gap: 10px;
      }
    }

    .block3,
    .block4,
    .block5 {
      background: #1361A9;
      .box-bg {
        padding: 0;
      }
    }

    .block4_products {
      .products-box {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
    }

    .block5_comp {
      padding: 40px 0;
      margin-bottom: 30px;
    }

    .card-page {
      .container {
        padding-right: 0;
      }
      .card-slider {
        width: 100%;
        .big-card {
          height: 327px;
        }
      }
      .card-info {
        padding-right: 24px;
        .card-name {
          font-size: 22px;
          line-height: 24px;
        }
        .info-title {
          font-size: 16px;
          line-height: 18px;
        }
  
        .info-link {
          margin: 20px 0;
        }
        .form-btn {
          width: 100%;
          font-size: 14px;
          line-height: 15px;
        }
      }
      .big-card-scrollbar {
        margin-top: 20px;
        height: 8px;
        background: #EEEEEE;
        .swiper-scrollbar-drag {
          background: #495363;
        }
      }
      .card-tabs {
        .tab-btns {
         overflow-x: scroll;
        }
      }
      .info-title {
        font-size: 16px;
        line-height: 18px;
      }

      .card-tabs {
        .tab-btns {
          margin: 40px 0 24px;
          padding-right: 24px;
        }
        .tab-btn {
          font-size: 16px;
          line-height: 18px;
          margin-right: 20px;
        }
        .tab-text {
          font-size: 14px;
          line-height: 18px;
        }
        .doc-download {
          font-size: 14px;
          line-height: 15px;
        }
      }
      .tab-item {
        padding-right: 24px;
        &:last-child {
          padding-right: 0;
        }
      }
      .gallery-item {
        height: 326px;
      }
    }
  }


  footer {
    .footer-top {
      padding-top: 24px;
    }
    .footer-item {
      .item-title {
        font-size: 14px;
        line-height: 16px;
      }
    }
    .footer-nav {
      li {
        font-size: 12px;
        line-height: 13px;
        &:first-child {
          margin-top: 20px;
        }
      }
    }

    .footer-bottom {
      padding-bottom: 23px;
      a {
        font-size: 12px;
        line-height: 13px;
        width: 50%;
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }

  
  .popUp-thanks {
   padding: 0 24px;
    .popUp-content {
      width: 100%;
    }
    .popUp-close {
      top: 30px;
      right: 25px;
    }
    .thanks {
      padding: 74px 25px 35px;
      border-radius: 30px;
      .thanks-title {
        font-size: 24px;
        line-height: 26px;
        margin: 0 0 13px;
      }
    }
  }

  .popUp-form {
    .popUp-content {
      max-width: 97%;
      border-radius: 30px;
      padding: 74px 20px 20px;
      margin: 20px auto;
    }
    .form-btn {
      font-size: 14px;
      line-height: 15px;
    }
  }
  
  .social {
    .social-item {
      margin-right: 32px;
    }
  }

  .popUp {
    .popUp-title {
      font-size: 24px;
      line-height: 26px;
    }
    &-close {
      right: 25px;
    }
  }
}

@media (max-width: 420px) {

}